{% extends 'base.html.twig' %}


{% block title %}Mes adresse - La boutique Francaise{% endblock %}

{% block content %}
    <h1>Mes adresses</h1>
C'est cet espace que vous allez pouvoir gérer vos adresses.
    <a href="{{ path('app_account') }}">Retour</a>
   <hr>
    VUE DE MES ADRESSES

{% endblock %}
