{% extends 'base.html.twig' %}

{% block title %}Modifier Le Mot De Passe - The French Boutique{% endblock %}

{% block content %}
    <h1>Modifier Le Mot De Passe</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <a href="{{ path('app_account') }}">Retourner à mon compte</a></br>
{% endblock %}
