{% extends 'base.html.twig' %}

{% block title %}Modifier Le Mot De Passe - The French Boutique{% endblock %}

{% block content %}
    <div class="container" style="display: flex; flex-direction: row">
        <div class="pannier" style="margin-bottom: 100px">

    <h1>Modifier Le Mot De Passe</h1>
            <a class="simpleBtn" href="{{ path('app_account') }}">Retourner à mon compte</a></br>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}

        </div>
    </div>
{% endblock %}
