{% extends "base.html.twig" %}
{% block carousel %}

{% endblock %}
{% block content %}
    <h2>Nos meilleurs ventes</h2>
    <h1>Découvrez nos meilleures ventes!</h1>
<div class="row">
    {% for product in products %}
        <div class="col-md-3">
            {% include 'product/single_product.html.twig' %}
        </div>
    {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Une équipe de pationné. <span class="text-muted">Avec des professionels aux grands savoirs faire.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid" alt="Un savoir faire Francais">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Venez à notre rencontre <span class="text-muted">Dans nos différentes boutiques.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid" alt="Une boutique ouverte toute l'année">
            </div>
        </div>
        {% endblock %}