{% extends "base.html.twig" %}
{% block carousel %}

{% endblock %}



{% block content %}
    <link href="{{ asset('assets/css/boutiqueFrancaise.css')}}" rel="stylesheet">

    <div class="container col-10 mt-5">
        <h2 style="color: #21293D">Nos meilleures ventes</h2>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {%  endfor %}
        </div><!-- /.row -->
    </div>

    <!-- START THE FEATURETTES -->

    <div style="background-color: #21293D">
        <div class="container col-10">
        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading">De la haute couture<br>
                    <p class="lead">Nos tailleurs les plus qualifiés de france se sont réuni pour confectioner des
                        pièces unique
                    </p>
                </h3>
                <p class="lead"></p>
            </div>
            <div class="col-md-5 mt-5 mb-5">
                <img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid" alt="Un savoir faire Francais">
            </div>
        </div>
        </div>
    </div>
    <div style="background-color: white">
        <div class="container col-10">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 style="color: black" class="featurette-heading">Notre boutique</h3>
                <p style="color: black" class="lead">Notre boutique implantée au cœur de Paris est prête à vous accueillir.</p>
            </div>
            <div class="col-md-5 order-md-1 mt-5 mb-5" style="padding-bottom: 10px">
                <img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid" alt="Une boutique ouverte toute l'année" style="border-radius: 40%">
            </div>
        </div>
        </div>
    </div>



{% endblock %}