body
{
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a
{
    color: #ffffff;
}

body
{
    background-color: #ffffff;
}


main .footer-custom
{
    text-align: center;
    width: 100%;
    background-color: #21293D;
    padding-top: 25px;
}
main .contenue
{
    background-color: #21293D;
}

.product-item
{
    margin-top: 15px;
}

.product-item h5
{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price
{
    font-size: 14px;
    font-weight: bold;
}

.product-single-page
{
    font-size: 19px;
}

.block-small
{
    max-width: 600px;
    margin: 0 auto;
}

/*Formulaire de trie*/

.form-check
{
    background-color: white;
    color: black;
    padding: 20px 65px;
    margin-top: 7px;
}

.order-summary
{
    background-color: #c6e7ff;
    padding: 20px;
    margin-top: 22px;
}

.account-item
{
    background-color: #dfe4ea;
    padding: 70px;
}

.account-item a
{
    text-transform: uppercase;
    font-size: 14px;
    color: #0c5460;
    font-weight: bold;
}
.account-item a:hover
{
    color: red;
    text-decoration: none;
}

hr
{
    position: absolute;
    z-index: 1;
    background-color: #0c4a6e;
    width: 100%;
}

/*Gestion de mes polices d'écritures*/
p
{
    font-size: 10px;
}

.footer-p
{
    margin-bottom: 0;
    font-size: 1em;
}


