body
{
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a
{
    color: #ffffff;
}




main .contenue
{
    background-color: #21293D;
}

.product-item
{
    margin-top: 15px;
}

.product-item h5
{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price
{
    font-size: 14px;
    font-weight: bold;
}

.product-single-page
{
    font-size: 19px;
}

.block-small
{
    max-width: 600px;
    margin: 0 auto;
}

/*Formulaire de trie*/

.form-check
{
    background-color: white;
    color: black;
    padding: 20px 65px;
    margin-top: 7px;
}

.order-summary
{
    background-color: #c6e7ff;
    padding: 20px;
    margin-top: 22px;
}

.account-item
{
    background-color: #dfe4ea;
    padding: 70px;
}

.account-item a
{
    text-transform: uppercase;
    font-size: 14px;
    color: #0c5460;
    font-weight: bold;
}
.account-item a:hover
{
    color: red;
    text-decoration: none;
}

hr
{
    position: absolute;
    z-index: 1;
    background-color: #0c4a6e;
    width: 100%;
}

/*Gestion de mes polices d'écritures*/
p
{
    font-size: 10px;
}
span
{
    color: black;
}



h1.gestion
{
    color: black;
}
p.gestion
{
    color: black;
}



/*Formulaire*/
.container.register
{
    padding-top: 100px;
    padding-bottom: 100px;
}

@media only screen and (min-width: 0px)and (max-width: 800px) {
    .container.register {
        padding-bottom: 1px;
    }
    .formulaire-register
    {
        height: auto;
    }

    input[type=text] {
        width: 50%;
    }
    input[type=email] {
        width: 50%;
    }
    input[type=password] {
        width: 50%;
    }
    .form-control
    {
        text-align: center;
        margin: auto;
    }
}

/*Formulaire de login*/
.formulaire-login
{
    text-align: center;
}
@media only screen and (min-width: 0px)and (max-width: 800px)
{
    .formulaire-register
    {
        height: auto;
    }
}


/*Titre h2*/
h2
{
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}

@media only screen and (min-width: 0px)and (max-width: 900px) {
    h2 {
        font-size: 20px;
    }

    .promotion
    {
        display: none;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1920px){
    h2 {
        font-size: 40px;
    }

}




/*Titre h3*/



/* Effet au passage de la souris sur les produits */
.drop-shadow:hover
{
    filter: blur(2px);
 }


/* Page d'accueil*/

.lead
{
    color: white;
}


/*Footer*/
footer
{
    min-height: 10px;
    max-height: 10px;
}

.footer-p
{
    margin-bottom: 0;
    font-size: 1em;
    color: black;
    background-color: #21293D;
}

.footer-custom
{
    text-align: center;
    width: 100%;
    background-color: #21293D;
    padding-top: 25px;
    position: absolute;
    bottom: 20px;
}

/*Account*/

.account-index
{
    padding-top: 200px;
    padding-bottom: 250px;
}

.account-index p
{
    font-size: medium;
}

/*Panier*/

.pannier
{
    margin-top: 100px;
}

@media only screen and (min-width: 900px) and (max-width: 1920px){
    .pannier {
        margin-top: 150px;
    }

}
