.my-custom-class
{
    background-color: #21293D;
}

.my-custom-class:hover
{
    background-color: #0d1218;
}

.my-custom-class:checked
{
    background-color: red;
}

#test
{
    background-color: #d3d1d1;
}

#item-navbar
{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform : uppercase;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}

body
{
    background-color: #21293D;
}

header
{
    background-color: #21293D;
}

#mon-filtre
{
    background-color: white;
    margin-top: 10px;
}

/*
    Mon Pannier
*/

#cart-sign-moins
{

}

#cart-sign-plus
{

}

#bouton-valider
{
    background-color: #21293D;
}

.pannierVide
{
    margin: 100px;
}

/*All*/
.simpleBtn
{
    color: #041a23;
}

.simpleBtn:hover
{
    color: #041a23;
}
