{% extends 'base.html.twig' %}

{% block content %}
<div class="container register">
    <h2>Inscription</h2>

    <div class="formulaire-register" style="text-align: center">
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    </div>
</div>
    {% endblock %}
